.__ph__pattern-detected {
    /** background-color: red !important; **/
    border: 2px solid black !important;
}

.__ph__current-pattern {
    z-index: 10000 !important;
    box-shadow: 0 0 120px 150px red;
    animation: __ph__highlight 5s;
    opacity: 0;
}

@keyframes __ph__highlight {
    from {
        opacity: 0.75;
    }

    to {
        opacity: 0;
    }
}
